body {  
    background: center/100% url(https://thumbs.dreamstime.com/b/fondo-abstracto-del-d%C3%ADa-de-fiesta-del-oro-con-la-navidad-25104170.jpg);
    height: 100vh;
 }
    
    h1{
        color: rgba(216, 17, 156, 0.932);
    }
    
    img{
        width: 400px;
    }

    #thirdDiv{
        height: 600;
        width: 500;
        background-color: #baff00;
        padding: 50px;
        border-color: blueviolet;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #spanId{
        font-size: 18px;
        margin: 50px;
    }
    .divClass{
        display: flex;
        flex-direction: column;
        align-items: center;

    }